[flake8]
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
ignore = E203, E266, E501, W503, F403, F401, F405
exclude = 
    .git,
    __pycache__,
    venv,
    main/migrations,
  LICENSE,
  docker-compose.yml,
  extension.sql,
  isort.cfg,
  JunEmpower/settings.py,
  seed_data.py,
  pyproject.toml,
  requirements.txt,
  sp.csv,
  tech.csv
